.work-together{
    background: var(--gray-200);
    text-align: center;
    h4{
        font-size: rem(40);
        font-weight: var(--font-weight-heading-one);
        line-height: rem(50);
        color: var(--gray-900);
    }
    p{
        font-size: rem(20);
        line-height: rem(32);
        letter-spacing: 0.48px;
        color: var(--gray-800);
        margin-bottom: rem(30);
    }

    @media (max-width: 991px){
        h4{
            font-size: rem(36);
        }
    }
    @media (max-width: 767px){
        position: relative;
        padding-bottom: rem(102);
        h4{
            font-size: rem(30);
            margin-bottom: rem(20);
        }
        p{
            font-size: rem(18);
        }
    }
}